/*Agregando propiedades responsive*/
@media screen and (max-width: 500px){
    .Titulo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.Titulo{
    /*Centrando el título*/
    text-align: center;
    color: darkblue;
}