/*Cambiando el color del fondo*/
*{
    background-color: #8d3f31;
}

/*Volviendo responsive ciertos aspectos de la p치gina*/
@media screen and (max-width: 500px){
    /*Texto del correo*/
    .Cor{
        position: absolute;
        left: 35%;
        top: 15%;
        font-size: 2em;
    }

    /*Propiedades del input del usuario*/
    .txtUsuarioo{
        position: absolute;
        left: 35%;
        top: 20%;
        width: 30%;
        height: 5%;
    }    
}

/*Texto del correo*/
.Cor{
    position: absolute;
    left: 35%;
    top: 15%;
    font-size: 2em;
}

/*Propiedades del input del usuario*/
.txtUsuarioo{
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
    height: 5%;
}

/*Texto de la contrase침a*/
.Con{
    position: absolute;
    left: 35%;
    top: 30%;
    font-size: 2em;
}

/*Propiedades del input de la contrase침a*/
.txtContrasenaa{
    position: absolute;
    left: 35%;
    top: 35%;
    width: 30%;
    height: 5%;
}

/*Propiedades del bot칩n de registro*/
.btnRegistrar{
    position: absolute;
    left: 35%;
    top: 45%;
    width: 30%;
    height: 5%;
    background-color: #f2f2f2;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
}