/*Colocando color de fondo a la página Home*/
*{
 background-color: darkgray;
}


/*Volviendo responsive ciertos aspectos de la página*/
@media screen and (max-width: 500px){
    .home{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about{
        display: flex;
        left: 1%;
        top: 96%;
    }

    .contact{
        display: flex;
        left: 95%;
        top: 96%;
    }

    .imgP{
        /* Alineando la imagen al centro */
        position: absolute;
        left: 35%;
        top: 15%;
        width: 30%;
        height: 30%;
    }

    /*Modificando las propiedades de los inputs*/
    .InicioSesion{
        /* Alineando el texto al centro */
        position: absolute;
        left: 45%;
        top: 10%;
        font-size: 2em;
    }

    .txtUsuario{
        /* Alineando el texto al centro */
        position: absolute;
        left: 35%;
        top: 20%;
        width: 30%;
        height: 5%;
    }

    .txtContraseña{
        /* Alineando el texto al centro */
        position: absolute;
        left: 35%;
        top: 30%;
        width: 30%;
        height: 5%;
    }

    /*Modificando las propiedades de los inputs*/
    .InicioSesion{
        /* Alineando el texto al centro */
        position: absolute;
        left: 45%;
        top: 10%;
        font-size: 2em;
    }

    .Registro{
        /* Alineando el texto al centro */
        position: absolute;
        left: 46%;
        top: 40%;
        font-size: 2em;
    }
}

.titulo{
    /* Alineando el texto al centro */
    text-align: center;
    color: #000;
}

.about{
    /* Alineando el texto al centro */
    position: absolute;
    left: 1%;
    top: 96%;
}

.contact{
    /* Alineando el texto al centro */
    position: absolute;
    left: 95%;
    top: 96%;
}

/*Modificando las propiedades de los inputs*/
.InicioSesion{
    /* Alineando el texto al centro */
    position: absolute;
    left: 45%;
    top: 10%;
    font-size: 2em;
}

.txtUsuario{
    /* Alineando el texto al centro */
    position: absolute;
    left: 35%;
    top: 20%;
    width: 30%;
    height: 5%;
}

.txtContraseña{
    /* Alineando el texto al centro */
    position: absolute;
    left: 35%;
    top: 30%;
    width: 30%;
    height: 5%;
}

.btnIniciarSesion{
    /* Alineando el texto al centro */
    position: absolute;
    left: 45%;
    top: 40%;
    width: 10%;
    height: 5%;
}

.Registro{
    /* Alineando el texto al centro */
    position: absolute;
    left: 46%;
    top: 45%;
    font-size: 2em;
}

.btnRegistro{
    /* Alineando el texto al centro */
    position: absolute;
    left: 45%;
    top: 55%;
    width: 10%;
    height: 5%;
}